

.customCard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(210, 82, 210)
}

.kitchen__name {
    color: white
}

.button {
    background: rgb(255, 255, 0)
}
